.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*

# Ignore more VSC files, other than those that should be the same across dev environments
.vscode/**/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sw*
*.dll
*.pdb
